{
  "env": {
      "browser": true,
      "node": true,
      "commonjs": true,
      "es6": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 8
  },
  "rules": {
      "no-unused-vars": [
          "warn",
          {
              "args": "none"
          }
      ],
      "no-console": 0,
      "accessor-pairs": "error",
      "array-bracket-newline": ["error", "consistent"],
      "no-cond-assign": "error",
      "array-bracket-spacing": [
          "off",
          "never"
      ],
      "no-case-declarations": "error",
      "array-callback-return": "error",
      "array-element-newline": "off",
      "arrow-body-style": "warn",
      "arrow-parens": [
          "error",
          "as-needed"
      ],
      "arrow-spacing": [
          "error",
          {
              "after": true,
              "before": true
          }
      ],
      "block-scoped-var": "warn",
      "block-spacing": [
          "error",
          "always"
      ],
      "brace-style": [
          "error",
          "1tbs",
          {
              "allowSingleLine": true
          }
      ],
      "callback-return": "off",
      "camelcase": [
          "warn",
          {
              "properties": "never"
          }
      ],
      "capitalized-comments": "off",
      "class-methods-use-this": "error",
      "comma-dangle": "error",
      "comma-spacing": "off",
      "comma-style": [
          "error",
          "last"
      ],
      "complexity": ["error", 30],
      "computed-property-spacing": "off",
      "consistent-return": "off",
      "consistent-this": "warn",
      "curly": "off",
      "default-case": "off",
      "dot-location": [
          "error",
          "property"
      ],
      "dot-notation": "off",
      "eol-last": "error",
      "eqeqeq": "off",
      "for-direction": "error",
      "func-call-spacing": "error",
      "func-name-matching": "error",
      "func-names": [
          "error",
          "never"
      ],
      "func-style": [
          "error",
          "declaration",
          {
              "allowArrowFunctions": true
          }
      ],
      "function-paren-newline": "error",
      "generator-star-spacing": "error",
      "getter-return": "error",
      "global-require": "warn",
      "guard-for-in": "off",
      "handle-callback-err": "off",
      "id-blacklist": "error",
      "id-length": "off",
      "id-match": "error",
      "indent": "off",
      "indent-legacy": "off",
      "init-declarations": "off",
      "jsx-quotes": "error",
      "key-spacing": "off",
      "keyword-spacing": [
          "error",
          {
              "after": true,
              "before": true
          }
      ],
      "line-comment-position": "off",
      "linebreak-style": [
          "error",
          "unix"
      ],
      "lines-around-comment": "off",
      "lines-around-directive": "off",
      "lines-between-class-members": ["error", "always",
          { "exceptAfterSingleLine": false }
      ],
      "max-depth": "warn",
      "max-len": "off",
      "max-lines": "off",
      "max-nested-callbacks": "error",
      "max-params": "off",
      "max-statements": "off",
      "max-statements-per-line": "off",
      "multiline-comment-style": "off",
      "multiline-ternary": [
          "error",
          "always-multiline"
      ],
      "new-parens": "error",
      "newline-after-var": "off",
      "newline-before-return": "off",
      "newline-per-chained-call": "off",
      "no-alert": "warn",
      "no-array-constructor": "error",
      "no-await-in-loop": "warn",
      "no-bitwise": "warn",
      "no-buffer-constructor": "error",
      "no-caller": "error",
      "no-catch-shadow": "error",
      "no-confusing-arrow": "off",
      "no-constant-condition": [
          "error",
          {"checkLoops": false}
      ],
      "no-continue": "off",
      "no-div-regex": "error",
      "no-duplicate-imports": "error",
      "no-else-return": "error",
      "no-empty-function": "error",
      "no-eq-null": "error",
      "no-eval": "error",
      "no-extend-native": "error",
      "no-extra-bind": "error",
      "no-extra-label": "error",
      "no-extra-parens": "off",
      "no-floating-decimal": "error",
      "no-implicit-coercion": "error",
      "no-implicit-globals": "error",
      "no-implied-eval": "error",
      "no-inline-comments": "off",
      "no-inner-declarations": [
          "error",
          "functions"
      ],
      "no-invalid-this": "warn",
      "no-iterator": "error",
      "no-label-var": "error",
      "no-labels": "error",
      "no-lone-blocks": "off",
      "no-lonely-if": "off",
      "no-loop-func": "off",
      "no-magic-numbers": "off",
      "no-mixed-operators": [
          "off",
          {
              "groups": [
                ["+", "-", "*", "/", "%", "**"],
                ["&", "|", "^", "~", "<<", ">>", ">>>"],
                ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
                ["&&", "||"],
                ["in", "instanceof"]
              ],
              "allowSamePrecedence": true
          }
      ],
      "no-mixed-requires": "error",
      "no-multi-assign": "off",
      "no-multi-spaces": "off",
      "no-multi-str": "error",
      "no-multiple-empty-lines": "error",
      "no-native-reassign": "error",
      "no-negated-condition": "off",
      "no-negated-in-lhs": "error",
      "no-nested-ternary": "off",
      "no-new": "error",
      "no-new-func": "error",
      "no-new-object": "error",
      "no-new-require": "error",
      "no-new-wrappers": "error",
      "no-octal-escape": "error",
      "no-param-reassign": "off",
      "no-path-concat": "error",
      "no-plusplus": "off",
      "no-process-env": "error",
      "no-process-exit": "off",
      "no-proto": "error",
      "no-prototype-builtins": "error",
      "no-restricted-globals": "error",
      "no-restricted-imports": "error",
      "no-restricted-modules": "error",
      "no-restricted-properties": "error",
      "no-restricted-syntax": "error",
      "no-return-assign": "off",
      "no-return-await": "off",
      "no-script-url": "error",
      "no-self-compare": "error",
      "no-sequences": "warn",
      "no-shadow": "off",
      "no-shadow-restricted-names": "warn",
      "no-spaced-func": "error",
      "no-sync": "off",
      "no-tabs": "error",
      "no-template-curly-in-string": "error",
      "no-ternary": "off",
      "no-throw-literal": "error",
      "no-trailing-spaces": "off",
      "no-undef-init": "error",
      "no-undefined": "off",
      "no-underscore-dangle": "error",
      "no-unmodified-loop-condition": "error",
      "no-unneeded-ternary": "error",
      "no-use-before-define": "off",
      "no-useless-call": "off",
      "no-useless-computed-key": "error",
      "no-useless-concat": "error",
      "no-useless-constructor": "error",
      "no-useless-rename": "error",
      "no-useless-return": "error",
      "no-var": "off",
      "no-void": "error",
      "no-warning-comments": "warn",
      "no-whitespace-before-property": "off",
      "no-with": "error",
      "nonblock-statement-body-position": "error",
      "object-curly-newline": "off",
      "object-curly-spacing": [
          "error",
          "never"
      ],
      "object-property-newline": [
          "error",
          {
              "allowMultiplePropertiesPerLine": true
          }
      ],
      "object-shorthand": "error",
      "one-var": "off",
      "one-var-declaration-per-line": "off",
      "operator-assignment": [
          "error",
          "always"
      ],
      "operator-linebreak": "error",
      "padded-blocks": ["error", "never"],
      "padding-line-between-statements": ["error",
          { "blankLine": "always", "prev": "function", "next": "function"}
      ],
      "prefer-arrow-callback": "off",
      "prefer-const": ["error", {
        "destructuring": "all",
        "ignoreReadBeforeAssign": false
      }],
      "prefer-destructuring": "off",
      "prefer-numeric-literals": "error",
      "prefer-promise-reject-errors": ["error",
        { "allowEmptyReject": true }
      ],
      "prefer-reflect": "off",
      "prefer-rest-params": "error",
      "prefer-spread": "error",
      "prefer-template": "off",
      "quote-props": "off",
      "quotes": "off",
      "radix": [
          "error",
          "as-needed"
      ],
      "require-await": "error",
      "require-jsdoc": ["error", {
              "require": {
                  "FunctionDeclaration": true,
                  "MethodDefinition": true,
                  "ClassDeclaration": true,
                  "ArrowFunctionExpression": false,
                  "FunctionExpression": true
              }
          }
      ],
      "valid-jsdoc": ["error", {
          "requireReturn": false
      }],
      "rest-spread-spacing": [
          "error",
          "never"
      ],
      "semi": "off",
      "semi-spacing": "error",
      "semi-style": [
          "error",
          "last"
      ],
      "sort-imports": "off",
      "sort-keys": "off",
      "sort-vars": "off",
      "space-before-blocks": "error",
      "space-before-function-paren": "off",
      "space-in-parens": "off",
      "space-infix-ops": "off",
      "space-unary-ops": "error",
      "spaced-comment": "off",
      "strict": "off",
      "switch-colon-spacing": "off",
      "symbol-description": "error",
      "template-curly-spacing": "error",
      "template-tag-spacing": "error",
      "unicode-bom": [
          "error",
          "never"
      ],
      "vars-on-top": "off",
      "wrap-iife": "error",
      "wrap-regex": "off",
      "yield-star-spacing": "error",
      "yoda": [
          "error",
          "never"
      ]
  }
}
